<!-- <div class="wallpaper_image" style="padding-top:70px;">
  <section class="container">
    <div class="login">
      <div class="col-md-10">
        <h1>Login to Miami-Dade County Data Center</h1>
        <%= form_tag '/login' do %>
        <p><strong>Email:</strong><span id="email_field"><%= text_field_tag :email, "",placeholder: "Email" %></span></p>
        <p><strong>Password: </strong><%= password_field_tag :password, "",placeholder: "Password" %></p>
        <p><%= submit_tag "Submit", class: 'btn btn-primary' %> <a href="/signup" class=" btn btn-primary">Signup</a></p>
        <% end %>
      </div>
    </div>
  </section>
</div> -->
