// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  padding: 4px 8px 3px 8px;
  margin-bottom: 2px;
}

.text {
  margin-top: 50px;
}

.btn > a {
  color: white;
}

#miami_aerial{
  margin-top: 20px;
}

.bottom_links {
  clear: both;
  margin: 0;
  text-align: center;
}

#back_button {
  padding: 10px;
}

#salary_button {
  padding: 10px;
  clear: left;
}

.middle_bar {
  margin-top: 10px;
}

.middle_bar {
  display: flex;
  justify-content: center;
}

.department_page_bar {
  color: white;
}
