// @import '../../shared/mixins',
//         '../../shared/reset',
//         '../../shared/about-light';

// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wallpaper_image{
  background-image: url("https://opendata.miamidade.gov/views/9igk-bmvc/files/n4vNLHRJTRuULaEJMaLA1OZGXaMoyp_DB5wTrFhnDQM");
  background-size: cover;
  height: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

#email_field {
  padding-left: 33px;
}

.signup {
  background-color: #e6e6e6;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  // padding-left: 2px;
  padding-right: 2px;
  box-shadow: 1px black;
}
