// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name_field {
  padding-left: 12px;
}

.email_field {
  padding-left: 70px;
}

.name {
  padding-left: 15px;
}

.email {
  padding-left: 50px;
}

#gender_gap_graph {
  width: 280px;
}

#department_data_graph {
  width: 280px;
}

#job_chart_data_graph{
  width: 280px;
}

.wallpaper_image{
  background-image: url("https://opendata.miamidade.gov/views/9igk-bmvc/files/n4vNLHRJTRuULaEJMaLA1OZGXaMoyp_DB5wTrFhnDQM");
  background-size: cover;
  height: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 55px;
}
