// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name_field {
  padding-left: 12px;
}

.email_field {
  padding-left: 70px;
}

.name {
  padding-left: 15px;
}

.email {
  padding-left: 50px;
}
