<!DOCTYPE html>
<html>
<head>
  <title>Miami Dade County Data Center</title>
  <link rel="icon" href="http://example.com/favicon.png">
  <link rel="image_src" href="/stylesheets/images/common/socrata_logo_square.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <!-- <script src="/jquery/jquery.min.js"></script> -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/highcharts/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script> -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/" id="nav_text">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/departments" id="nav_text">Department Data</a></li>
          <li><a href="/departments/:id?utf8=✓&Department=1&date%5Byear%5D=2016&commit=Search" id="nav_text">Job Data</a></li>
          <li><a href="#" id="nav_text">Wage Gap Data</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://www.facebook.com/miami.dade.county">
              <img class="socialmedia" src="http://www.clipartbest.com/cliparts/nTX/n6x/nTXn6x4Xc.png"/>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/MiamiDadeCounty">
              <img class="socialmedia" src="http://stjuliansprimary.com/wp-content/uploads/2013/12/twitter-logo-grey-copy.png"/>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/MiamiDadeTV">
              <img class="socialmedia" src="http://www.intelekti.ge/res/images/youtube_grey.png"/>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/miamidademedia/">
              <img class="socialmedia" src="http://www.upgradepropertymaintenance.co.uk/icon_instagram.png"/>
            </a>
          </li>
          <li id="logout"><a href="/logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<%= yield %>
<br>
  <footer>
    <p> Authors: Juan Ortiz and Ryan Barrar </p>
    <p> Copyright: 2016 </p>
  </footer>
</body>
</html>
